body {
    background-color: #ece8e1;
    color: #0f1023;
    margin: 0;
    padding: 0;
}

#report-bug a {
    color: #00F0FF;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.container h1 {
    color: #601abc;
    font-size: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Russo-one', sans-serif;
    font-weight: 100;
}

.container p {
    color: #8b98a9;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-family: 'Exo-2', sans-serif;
}

.report__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.report__content img {
    width: 400px;
    height: 600px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #016b73);
    animation: float 3s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* @keyframes float {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

#reportForm {
    background-color: #21303d;
    padding: 30px;
    box-shadow: 0 4px 12px rgb(14, 14, 14);
    flex: 1;
    max-width: 500px;
}

.report__frame {
    margin-bottom: 20px;
    text-align: left;
}

.report__frame label {
    display: block;
    margin-bottom: 8px;
    color: #00F0FF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;
}

.report__frame input,
.report__frame select,
.report__frame textarea {
    width: 100%;
    padding: 12px;
    background-color: #0f1023;
    border: 1px solid whitesmoke;
    appearance: none;
    color: #ece8e1;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-family: 'Kanit', sans-serif;
}


.report__frame textarea {
    min-height: 15px;
}

.report__frame select option {
    color: #ece8e1;
}

.report__frame select:valid {
    color: #ece8e1;
}

.checkbox__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 3px 0;
}


.checkbox .warning {
    font-size: 12px;
    color: #ff4655;
    display: block;
}

.checkbox input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    accent-color: #ff4655;
}

.checkbox label {
    color: #ece8e1;
    font-weight: normal;
    text-transform: none;
    font-size: 1rem;
    letter-spacing: normal;
    font-family: 'Exo-2', sans-serif;
}


.warning{
    color: #ff4655;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
    font-family: 'Exo-2', sans-serif;
}



button[type="submit"] {
    background-color: #016b73;
    color: #ece8e1;
    border: none;
    padding: 14px 28px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

button[type="submit"]:hover {
    background-color: #059aa5;
}

@media screen and (max-width: 850px){
    .report__content{
        width: 100%;
        gap: 0px;
    }
}

@media screen and (max-width: 768px) {
    .report__content {
        gap: 30px;
        width: 100%;
        align-items: center;
    }

    .report__content img {
        display: none;
    }

    #reportForm {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 15px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .report__content img {
        display: none;
    }

    #reportForm {
        width: 50%;
        padding: 20px;
    }
}
