body {
    background: #0C0C17;
    color: #ece8e1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#game-info a {
    color: #00F0FF;
    text-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
}

.agent-detail {
    padding-top: 100px;
    overflow-x: hidden;
}

.agent-detail__container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
    margin: auto;
    height: 100%;
    padding: 0 2rem;
    align-items: flex-start;
}


.agent__image {
    position: relative;
    width: 40%;
    height: 700px;
    display: flex;
    justify-content: end;
    margin-right: -50px;
}

.agent__image img {
    position: relative;
    z-index: 1;
    width: 100%;
    filter: drop-shadow(0 0 20px rgb(39, 38, 38));
    transform: scale(1.4);
    object-fit: cover;
    bottom: 5%;
    right: 8%;
}


.agent-detail__info {
    padding: 2rem;
    background: transparent;
    width: 60%;
}


.agent-name {
    font-size: 5rem;
    background: linear-gradient(to bottom, #016b73, #00F0FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Gunplay', sans-serif;
    z-index: 10;
}

.agent-role {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #9747FF;
    padding: 0.3rem 1.5rem 0.3rem 0.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Exo-2', sans-serif;
}

.agent-role img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.agent-description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 5rem;
    opacity: 0.9;
    color: #8B978F;
}

.agent__content {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.video__skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.video__frame-wrapper {
    position: relative;
    width: 100%;
    height: 230px;
}

.video__background {
    position: absolute;
    top: 20px;
    left: -20px;
    width: 100%;
    height: 100%;
    background-color: #9747FF;
    z-index: 0;
}

.video__frame {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(30, 29, 29);
    border: none;
}

.video__frame video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skill__description {
    margin-top: 1rem;
    text-align: center;
}

.skill__description h3 {
    color: #FFD197;
    margin-bottom: 0.5rem;
    font-family: 'Russo-one', sans-serif;
    font-weight: 100;
}

.skill__description p {
    color: #ece8e1;
    margin-bottom: 0.5rem;
}


.agent__abilities {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    z-index: 10;
}


.ability {
    width: 75px;
    height: 75px;
    border: 2px solid #00F0FF;
}

.ability img {
    filter: brightness(0) invert(1);
    width: 75px;
    height: 75px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.ability.active {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00F0FF;
}

.ability:hover {
    box-shadow: 0 0 15px #016b73;
}

.ability img:hover {
    transform: scale(1.1);
}

.agent__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .agent-detail__info {
        padding: 0;
        width: 50%;
        margin-left: 50px;
    }

    .agent-name {
        font-size: 4.5rem;
    }

    .agent-role {
        font-size: 1rem;
    }

    .agent__image {
        width: 100%;
        height: 100%;
    }

    .agent-description {
        font-size: 0.9rem;
    }

    .video__frame {
        width: 100%;
        height: 100%;
    }

    .video__frame-wrapper {
        height: 120%;
        width: 120%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    .agent__content {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
    }

    .video__background {
        top: 8px;
        left: -10px;
    }

    .skill__description h3{
        font-size: 1.2rem;
    }

    .skill__description p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .agent-detail__info {
        margin-left: 0;
        padding-top: 50px;
    }

    .agent-detail {
        padding-top: 80px;
    }

    .agent-detail__container {
        flex-direction: column;
        padding: 0 1.5rem;
    }

    .agent__image,
    .agent-detail__info {
        width: 100%;
    }

    .agent__image {
        height: 500px;
        display: flex;
        justify-content: center;
        margin-top: 110px;
        z-index: 10;
    }

    .agent__image img {
        scale: 1.1;
        left: 0%;
    }

    .agent-name {
        font-size: 3.5rem;
        text-align: left;
        margin-left: 50px;
    }

    .agent-role {
        margin-left: 50px;
    }

    .agent-description {
        text-align: center;
        margin-bottom: 3rem;
        margin: 0 50px 50px 50px;
    }

    .agent__abilities {
        justify-content: center;
        gap: 2rem;
    }

    .video__frame-wrapper {
        height: 70%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    .agent__content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .video__background {
        top: 15px;
        left: -15px;
    }

    .agent-detail__info {
        margin-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    .agent-detail__info {
        padding-top: 70px;
    }

    .agent-detail__container {
        padding: 0 1rem;
    }

    .agent__image {
        height: 400px;
        margin-top: 60px;
    }

    .agent-name {
        margin-left: 1.5rem;
        font-size: 2.8rem;
    }

    .agent-role {
        margin-left: 1.5rem;
        font-size: 1rem;
        padding: 0.2rem 1rem 0.2rem 0.6rem;
    }

    .agent-description {
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .agent__abilities {
        gap: 1.3rem;
    }

    .ability {
        width: 50px;
        height: 50px;
    }

    .ability img {
        width: 50px;
        height: 50px;
        padding: 7px;
    }

    .video__frame-wrapper {
        height: 60%;
        width: 70%;
    }

    .video__background {
        top: 10px;
        left: -10px;
    }

    .skill__description h3 {
        font-size: 1rem;
    }

    .skill__description p {
        font-size: 0.9rem;
    }

    .agent__detail {
        gap: 40px;
    }
}
