body {
    /* font-family: 'Tungsten-Bold', 'Arial Narrow', sans-serif; */
    background-color: #0C0C17;
    color: #0f1923;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#game-info a {
    color: #00F0FF;
}

.agents__header {
    text-align: left;
    padding: 80px 5% 40px;
    /* background: linear-gradient(to bottom, #0a0a16, #1a242d); */
    background: #0C0C17;
}

.agents__header h1 {
    font-size: 3rem;
    color: whitesmoke;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    font-family: 'Russo-one', sans-serif;
}

.agents__container {
    width: 100%;
    padding: 20px 5%;
    background: #ECE8E1;
}

.agents__frame {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    /* overflow-x: auto; */
}

.agents__card {
    /* background: linear-gradient(to bottom, #16213E, #3a3a3a); */
    background: #0C0C17;
    /* border-radius: 8px; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    border: 3px solid rgb(56, 55, 55);
    box-shadow: 0 4px 8px black;
}

.agents__card:hover {
    transform: translateY(-10px);
    box-shadow: inset 0 0 30px #00F0FF, 0 10px 20px #016b73;
    border-color: #00F0FF;
}

.image__wrapper {
    height: 300px;
}

.agents__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1.1);
    margin-bottom: -50px;
    transition: transform 0.5s ease;
}


.agents__card:hover .agents__image {
    transform: scale(1.15);
    filter: brightness(1.1);
}

.agents__detail {
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: linear-gradient(to top, rgba(15, 25, 35, 0.9), transparent);
}

.agents__card:hover .agents__detail {
    transform: translateY(-40px);
    transition: transform 0.3s ease;
}

.agents__name {
    font-size: 2.5rem;
    /* font-weight: bold; */
    margin-bottom: 5px;
    color: #9747FF;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50px;
    /* font-family: 'Gunplay', sans-serif;
    font-weight: 100; */
    /* font-family: 'Russo-one', sans-serif;
    font-weight: 100; */
    font-family: 'Kanit', sans-serif;
}


.agents__skills {
    display: none;
    justify-content: space-around;
    padding: 15px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.agents__card:hover .agents__skills {
    display: flex;
    animation: slideUp 0.5s ease-out;
}

.skill__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
    color: whitesmoke;
    font-weight: bold;
}

.skill__icon img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

