* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0C0C17;
    color: #E8E8E8;
}



#home a {
    color: #00F0FF;
    text-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('../assets/fonts/ethnocentric\ rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-2';
    src: url('../assets/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Russo-one';
    src: url('../assets/fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gunplay';
    src: url('../assets/fonts/gunplay\ rg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-bold';
    src: url('../assets/fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* SECTION 1 */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main__container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: #ece8e1;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.main__text h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    font-family: 'Gunplay', sans-serif;
    font-weight: 100;
}

.main__text h3 {
    font-family: 'Ethnocentric', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 5px;
    color: #601abc;
    filter: drop-shadow(0 0 20px #ece8e1);
}



/* SECTION 2 */

.banner__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, rgb(7, 7, 7), rgb(7, 7, 7));
    z-index: 1;
    background-color: #0e0e10;
    color: white;
}

.banner__text {
    flex: 1;
    padding: 3rem;
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__text h1 {
    color: #00F0FF;
    font-size: 2.5rem;
    text-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
    margin-bottom: 0.5rem;
    font-family: 'Russo-one', sans-serif;
    font-weight: 300;
}

.banner__text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a2a4a5;
    font-family: 'Exo-2', sans-serif;
}

.banner__text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ece8e1;
    margin-bottom: 2rem;
}

.banner__video {
    flex: 1;
    position: relative;
    z-index: 1;
}

.video__frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video__frame video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner {
    width: 90%;
    max-width: 1200px;
    margin: 4rem auto;
    display: flex;
    position: relative;
    background: #111;
    overflow: hidden;
    padding: 2rem;
    clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
    border: 3px solid transparent;
    background: linear-gradient(145deg, #050510 0%, #1A1A2E 100%);
    border-image: linear-gradient(45deg, #9D50FF, #00F0FF) 1;

}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    pointer-events: none;
    z-index: 5;
    mask-image: radial-gradient(circle at top left, transparent 20px, black 22px),
        radial-gradient(circle at top right, transparent 20px, black 22px),
        radial-gradient(circle at bottom left, transparent 20px, black 22px),
        radial-gradient(circle at bottom right, transparent 20px, black 22px);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
}


/* SECTION 3 */

.news {
    padding: 30px;
    background-color: #ece8e1;
    max-width: 1400px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__main-title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #601abc;
    margin-bottom: 50px;
    position: relative;
    font-family: 'Russo-one', sans-serif;
    font-weight: 300;
    text-shadow: 0 0 10px rgb(159, 156, 156);
}

.news__main {
    display: flex;
    width: 55%;
    height: 95%;
    background-color: black;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    filter: drop-shadow(-10px 10px 0px #00F0FF);
    transition: all 0.3s ease;
}

.news__main:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px #016b73;

}

.news__main-container {
    display: flex;
    width: 100%;
}

.news__main img {
    width: 50%;
    height: auto;
    object-fit: cover;
    background-color: #000;
}

.news-main__text {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.news-main__date {
    font-size: 0.9rem;
    color: #444;
    margin-bottom: 0.5rem;
}

.news-main__text h3 {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    color: #ece8e1;
    background: linear-gradient(90deg, #FFAA5C, #FF4DED);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Exo-2', sans-serif;
    font-weight: bold;
}

.news-main__description {
    color: #a09e9e;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.news__section {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.news__card {
    background-color: transparent;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 1rem);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    min-width: 280px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.news__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px #016b73;
}

.news__card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.news__card-info {
    padding: 1rem;
}

.news__date {
    font-size: 0.85rem;
    color: #1f2a37;
}

.news__card-title {
    font-family: 'Exo-2', sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    margin-top: 0.3rem;
    color: #601abc;
}

.news__button {
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    border-radius: 12px;
    margin-top: 40px;
    align-self: flex-end;
}

.news-button {
    display: inline-block;
    position: relative;
    background: transparent;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
    margin: 2px;

}

.news-button .button-text {
    display: block;
    padding: 12px 30px;
    position: relative;
    z-index: 3;
    background: black;
    color: #FFD197;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: 'Exo-2', sans-serif;
    font-weight: 900;
}

.news__button::before,
.news__button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #016b73;
    pointer-events: none;
}

.news__button::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.news__button::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.news__button .news__corner-top-right,
.news__button .news__corner-bottom-left {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #016b73;
    pointer-events: none;
}

.news__button .news__corner-top-right {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.news__button .news__corner-bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.news__button .news__center-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: #016b73;
}

.news__button .news__center-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: #016b73;
}

.news-button:hover {
    box-shadow: 0 5px 10px gray;
}


/* SECTION 4 */
.agents {
    background-color: rgb(28, 27, 27);
    color: #ece8e1;
    padding: 80px 5%;
    position: relative;
    overflow: hidden;
}


.agents__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    align-items: center;
}

.agent__wrapper {
    position: relative;
}

.agent__card {
    overflow: hidden;
}

.agent__card:hover {
    transform: translateY(-10px) rotateX(5deg);
    box-shadow: 0 15px 40px #601abc;
    transition: all 0.5s ease;
}

.card__image {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
}

.agent__card:hover .card__image img {
    transform: scale(1. 5);
}

.card__role {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background: #9747FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFD197;
    box-shadow: 0 0 20px #9747FF;
}

.card__role img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: drop-shadow(0 0 5px #FFD197);
}

.card__info {
    padding: 25px;
    text-align: center;
}

.card__info h3 {
    font-size: 1.2rem;
    color: #00F0FF;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-family: 'Kanit', sans-serif;
}

.card__info h4 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #ece8e1;
    font-family: 'Gunplay', sans-serif;
    font-weight: lighter;
}

.card__info p {
    font-style: italic;
    color: #bcbbbb;
    position: relative;
    padding-top: 15px;
}


.agents__content {
    padding-left: 20px;
}

.agents__container h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: #00F0FF;
    text-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
    font-family: 'Russo-one', sans-serif;
    font-weight: lighter;
}


.agents__content h3 {
    font-size: 1.8rem;
    margin-bottom: 25px;
    line-height: 1.3;
    color: #a2a4a5;
    font-family: 'Exo-2', sans-serif;
}

.agents__content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #bcbbbb;
    max-width: 500px;
    font-family: 'Kanit', sans-serif;
}

.agents__button {
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    border-radius: 12px;
    margin-top: 40px;
}

.agents-button {
    display: inline-block;
    position: relative;
    background: transparent;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
    margin: 2px;
}

.agents-button .button-text {
    display: block;
    padding: 12px 30px;
    position: relative;
    z-index: 3;
    background: #ece8e1;
    color: #9747FF;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: 'Exo-2', sans-serif;
    font-weight: bolder;
}

.agents__button::before,
.agents__button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #00F0FF;
    pointer-events: none;
}

.agents__button::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.agents__button::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.agents__button .agents__corner-top-right,
.agents__button .agents__corner-bottom-left {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #00F0FF;
    pointer-events: none;
}

.agents__button .agents__corner-top-right {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.agents__button .agents__corner-bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.agents__button .agents__center-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: #00F0FF;
}

.agents__button .agents__center-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: #00F0FF;
}

.agents-button:hover {
    box-shadow: 0 5px 10px gray;
}


/* SECTION 5 */

.maps__container {
    background-color: #ECE8E1;
    color: #0F1923;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    padding: 80px 0;
    margin: 0 auto;
    width: 100%;
}

.maps__content {
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 2;
}

.maps__content h2 {
    font-size: 72px;
    color: #601abc;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    font-family: 'Russo-one', sans-serif;
    font-weight: lighter;
    text-shadow: 0 0 10px rgb(159, 156, 156);
}

.maps-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.3;
    color: #0F1923;
    text-transform: uppercase;
    font-family: 'Exo-2', sans-serif;
    font-weight: bold;
}

.maps-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #454647;
    max-width: 500px;
}

.maps {
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    border-radius: 12px;
    margin-top: 40px;
}

.maps__button {
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    border-radius: 12px;
    margin-top: 40px;
}

.maps-button {
    display: inline-block;
    position: relative;
    background: transparent;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
    margin: 2px;
}

.maps-button .button-text {
    display: block;
    padding: 12px 30px;
    position: relative;
    z-index: 3;
    background: #0C0C17;
    color: #FFD197;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.maps__button::before,
.maps__button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #016b73;
    pointer-events: none;
}

.maps__button::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.maps__button::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.maps__button .maps__corner-top-right,
.maps__button .maps__corner-bottom-left {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #016b73;
    pointer-events: none;
}

.maps__button .maps__corner-top-right {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.maps__button .maps__corner-bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.maps__button .maps__center-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: #016b73;
}

.maps__button .maps__center-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: #016b73;
}

.maps-button:hover {
    box-shadow: 0 5px 10px gray;
}

.maps__all {
    width: 50%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.maps-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.5s ease;
}

.maps-slide.active {
    opacity: 1;
    z-index: 1;
}

.maps-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: tranform 0.5s ease;
}

.maps-slide:hover img {
    transform: scale(1.02);
}

.map__info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background: #0a0a16;
    color: whitesmoke;
    padding: 15px 25px;
    border-radius: 4px;
    max-width: 300px;
}

.map__info h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #00F0FF;
    font-family: 'Kanit', sans-serif;
}

.map__info p {
    font-size: 14px;
    margin: 0;
}

.maps__nav {
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 12px;
    right: 10px;
    z-index: 100;
}

.maps__prev,
.maps__next {
    background: #0F1923;
    border: 1px solid #444;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
}

.maps__prev:hover,
.maps__next:hover {
    background: #00F0FF;
    transform: scale(1.05);
    border: none;
}

.maps__prev img,
.maps__next img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {
    .banner__text {
        padding: 1rem;
    }

    .video__frame {
        height: 70%;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    .news__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
    }

    .news__card {
        width: 90%;
        max-width: 500px;
        margin: 0 auto 20px;
    }

    .news__card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .news {
        padding-inline: 20px;
    }

    .news__main {
        width: 100%;
    }

    .news__main-container {
        flex-direction: column;
    }

    .news__main-container img {
        width: 100%;
    }

    .news-main__text {
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {

    .main__text h2 {
        font-size: 1.7rem;
    }

    .main__text h3 {
        font-size: 3rem;
    }

    .main__content {
        top: 60%;
        width: 90%;
    }

    .btn {
        font-size: 1.2rem;
        padding: 12px 24px;
    }

    .banner {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }

    .banner__text {
        width: 100%;
        font-size: 2rem;
        margin-bottom: -50px;
        padding: 1rem 0;
        align-items: center;
        text-align: center;
    }

    .banner__text h1 {
        font-size: 2rem;
    }

    .banner__text h2 {
        font-size: 1.2rem;
    }

    .banner__text p {
        font-size: 0.9rem;
    }

    .banner__video {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video__frame {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video__frame video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .news__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
    }

    .news__card {
        width: 90%;
        max-width: 500px;
        margin: 0 auto 20px;
    }

    .news__card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .news {
        padding-inline: 20px;
    }

    .news__main {
        width: 100%;
    }

    .news__main-container {
        flex-direction: column;
    }

    .news__main-container img {
        width: 100%;
    }

    .news-main__text {
        padding: 15px;
    }


    .agents__container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0 20px;
    }

    .agents__wrapper,
    .agents__content {
        width: 100%;
    }

    .agents__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        text-align: center;
    }

    .card__info h4 {
        font-size: 2rem;
    }

    .agents__content h2 {
        font-size: 2.5rem;
    }

    .agents__content h3 {
        font-size: 1.5rem;
    }

    .agents__content p {
        font-size: 1rem;
    }


    /* maps */
    .maps__container {
        background-color: #ECE8E1;
        color: #0F1923;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 5%;
        width: 100%;
        gap: 40px;
        flex-wrap: wrap;
    }

    .maps__content {
        flex: 1 1 50%;
        padding-right: 40px;
    }

    .maps__content h2 {
        font-size: 72px;
        color: #601abc;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1;
    }

    .maps-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    .maps-description {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 40px;
        color: #182838;
        max-width: 500px;
    }


    .maps__all {
        flex: 1 1 50%;
        height: 500px;
        position: relative;
        overflow: hidden;
    }

    .maps-slide {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.8s ease, transform 0.5s ease;
        z-index: 0;
    }

    .maps-slide.active {
        opacity: 1;
        z-index: 1;
    }

    .maps-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        box-shadow: 0 10px 30px black;
    }

    .maps-slide:hover img {
        transform: scale(1.02);
    }

    .map__info {
        position: absolute;
        bottom: 40px;
        left: 40px;
        padding: 15px 25px;
        border-radius: 4px;
        max-width: 300px;
        z-index: 2;
        box-shadow: 0 5px 20px black;
    }

    .map__info h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .map__info p {
        font-size: 14px;
        margin: 0;
    }

    .maps__nav {
        position: absolute;
        display: flex;
        gap: 15px;
        bottom: 15px;
        right: 15px;
        z-index: 10;
    }
}

@media screen and (max-width:576px) {
    .main__text h2 {
        font-size: 1.2rem;
    }

    .main__text h3 {
        font-size: 2.3rem;
    }

    .news__header h2 {
        font-size: 2rem;
    }

    .news__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .news__frame {
        flex: 0 0 100%;
    }

    .agents__container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .agents__content {
        padding-left: 0;
        text-align: center;
    }

    .agents__container h2 {
        font-size: 2.5rem;
    }

    .agents__content h3 {
        font-size: 1.5rem;
    }

    .agents__content p {
        font-size: 1rem;
        margin: 0 auto 30px;
    }

    .maps__all {
        height: 250px;
    }

    .map__info {
        padding: 10px;
        width: 55%;
        bottom: 10px;
        left: 10px;
    }

    .map__info h3 {
        font-size: 15px;
    }

    .map__info p {
        font-size: 12px;
    }
}